@{
    ViewBag.Title = "Change";
}

@Styles.Render("~/Content/bootstrap-select.min.css")
@Styles.Render("~/Content/vue3-easy-data-table@1.5.47.css")

<style>

    :root {
        --font_size_section_titel: 1.2rem;
        --font_size_sectionl: 1.2rem;
        --font_size_head_table: 0.8rem;
        --font_size_body_table: 0.8rem;
        --font_size_icon: 1.5rem;
        --font_size_item_title: 1rem;
        --font_size_icon_item_detail: 1rem;

    }

    html {
        min-height: 100%;
    }



    body::-webkit-scrollbar-track {
        border: 1px solid black;
        background-color: #F5F5F5;
    }

    body::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    
    .backTotop {
        position: fixed;
        bottom: -50px;
        right: 15px;
        font-size: 40px;
        color: #fff;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        border-radius: 100%;
        cursor: pointer;
        transition: all 0.5s;
        background: #000000;
    }

        .backTotop.active {
            bottom: 20px;
            transition: all 0.5s;
        }

    .section-tatble {
        background: #fff;
        border-radius: 8px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        padding: 10px;
        margin-top: 20px;
    }


    .alertTable.alert_over {
        font-weight: bold;
        background: #ff6060;
    }

    .alertTable.alert_lower {
        font-weight: bold;
        background: #fff949;
    }


    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-content {
        max-width: 90%;
        max-height: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }

    .close {
        color: #fff;
        font-size: 40px;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }

    .modal-backdrop {
        z-index: 0 !important;
    }

    .dp__main {
        width: 100%;
    }

    .dropdown.bootstrap-select {
        width: 100% !important;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 7px;
    }

    button.btn.dropdown-toggle.btn-light {
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
    }


    .modal-header {
        color: #ffffff;
        background-color: #216583;
    }
    .customize-table {
        --easy-table-header-font-size: 14px;
        --easy-table-header-height: 50px;
        --easy-table-header-font-color: #ffffff;
        --easy-table-header-background-color: #2d3a4f;
        --easy-table-border: 1px solid #445269;
    }
    
</style>

<div id="MainApp">

    <div class="tables-page-head">

        <div class="head-box">
            <div class="haed-title">Master : Change topic (Part/Mat'l)</div>
            <div class="select-group">
                <select class="selectpicker" data-placeholder="Select Group" data-live-search="true" id="slt_group" name="slt_group" v-model="slt_group" v-on:change="selectGroup(slt_group)">
                    <option v-for="(item,index) in groupList" :value="item.GROUP_ID">{{item.GROUP_NAME}}</option>
                </select>
            </div>
        </div>


        @if (Session["STATUS"].ToString() == "M")
        {
            <div class="haed-fn">

                <a href="" onclick="return false;">
                    <i class="fas fa-plus-circle" v-on:click="Open_Modal('Add','')"></i>
                </a>
            </div>
        }
    </div>

    @*<i v-on:click="backTotop" id="toTop" class="fas fa-arrow-alt-circle-up backTotop"></i>*@

    <div class="section-tatble">
        <div class="input-group" id="" style="margin-bottom: 10px;">
            <input type="text" v-model="searchValue" class="form-control" placeholder="Search"/>
        </div>

        <easy-data-table :headers="headers"
                         :items="items"
                         :sort-by="sortBy"
                         :sort-type="sortType"
                         :search-value="searchValue"
                         multi-sort
                         show-index
                         border-cell
                         table-class-name="customize-table"
                         header-text-direction="center"
                         body-text-direction="center"
                         class="text-center" />

        <template #item-UPDATE_BY="{ UPDATE_BY, GNAME_ENG, FNAME_ENG }">
            {{GNAME_ENG}}  {{FNAME_ENG}}
        </template>


        <template #item-IS_USE="{ IS_USE }">
            {{IS_USE=='Y' ? 'Use' : 'Unuse'}}
        </template>

        <template #item-tool="{ ITEM_ID }">
            <a href="#" onclick="return false;" v-on:click="Open_Modal('Edit', ITEM_ID)"><i class="fas fa-edit" style="margin-right: 10px; color: rgb(44 76 235);"></i></a>
            <a href="#" onclick="return false;" v-on:click="deleteItem(ITEM_ID)"><i class="fas fa-trash-alt" style="color: rgb(225 55 55);"></i></a>
        </template>

    </div>

    <div class="modal fade modal-lg" id="Item-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="Item_modal_Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Item_modal_Label">{{IsAdd==true ? 'Add Item' : 'Edit item'}}</h5>
                </div>
                <div class="modal-body">

                    <section class="container">
                        <div class="row">

                            <label for="slt_name" class="col-4 col-form-label"><b>Change topic</b></label>
                            <div class="col-8 col-form-label">
                                <div class="input-group" id="">
                                    <input type="text" id="slt_name" v-model="slt_name" class="form-control" v-on:keyup.enter="saveItem()" />
                                </div>
                            </div>

                            <label for="" class="col-4 col-form-label"><b>Status</b></label>
                            <div class="col-8 col-form-label">

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="IsUse" id="IsUse-Y" value="Y" v-model="slt_use">
                                    <label class="form-check-label" for="IsUse-Y">
                                        Use
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="IsUse" id="IsUse-N" value="N" v-model="slt_use">
                                    <label class="form-check-label" for="IsUse-N">
                                        Unuse
                                    </label>
                                </div>
                            </div>

                        </div>
                    </section>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn_save"
                            v-on:click="saveItem()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

@Scripts.Render("~/Scripts/bootstrap-select.min.js")
@Scripts.Render("~/Scripts/vue3-easy-data-table.umd.js")


<script>
    // ------------------------------ VUE JS ------------------------------ //
    const { createApp } = Vue

    let DTable = ''

        createApp({
            data() {
                return {
                    headers: [
                        { text: "Name", value: "ITEM_NAME", sortable: true },
                        { text: "Update By", value: "UPDATE_BY", sortable: true },
                        { text: "Update Date", value: "UPDATE_DATE", sortable: true },
                        { text: "Status", value: "IS_USE", sortable: true },
                        { text: "Tools", value: "tool", sortable: false },
                    ],
                    items: [],
                    searchValue: '',
                    sortBy: ["ITEM_NAME"],
                    sortType: ["asc"],

                    role: '@Session["ROLE"].ToString()',
                    status: '@Session["STATUS"].ToString()',

                    slt_id: '',
                    slt_name: '',
                    slt_use: '',
                    slt_group: '',

                    groupList: [],

                    IsAdd: true,
                    dataTable: null,
                }
            },
            components: {
                EasyDataTable: window['vue3-easy-data-table'],
            },
            mounted() {

                let self = this

                //self.SetTeble()

            },
            async created() {

                let self = this

                await self.getGroup()

                await self.get_list()

            },
            methods: {
                backTotop() {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    })
                },
                async get_list() {

                    let self = this;

                    await $.ajax({
                        url: '@Url.Action("ListItem_Change", "lookup")',
                        type: "POST",
                        data: {},
                        success: function (result) {
                            if (result.success) {
                                self.items = result.data
                            } else {
                                self.items = []
                            }

                        }
                    });
                },
                async Open_Modal(status, id) {

                    let self = this

                    let el = document.querySelector('#Item-modal');
                    let modal = bootstrap.Modal.getOrCreateInstance(el);

                    if (status == 'Add') {
                        self.IsAdd = true

                        self.slt_name = ''
                        self.slt_use = 'Y'

                    } else {

                        self.IsAdd = false
                        self.id = id;
                        $.ajax({
                            url: "@Url.Action("SelectItem_Change", "lookup")",
                            type: "POST",
                            data: { item_id: id },
                            success: function (result) {
                                if (result.success) {

                                    self.slt_name = result.data[0]["ITEM_NAME"]
                                    self.slt_use = result.data[0]["IS_USE"]

                                } else {
                                }
                            }
                        });
                    }

                    modal.show()

                },
                async saveItem() {

                    const self = this

                    let el = document.querySelector('#Item-modal');
                    let modal = bootstrap.Modal.getOrCreateInstance(el);

                    if (self.slt_name == '') {
                        alertBoxTime('Alert', 'Please fill out the information completely', 'warning', 1100, '', '')
                    } else {

                        $("#btn-save").html('<i class="fas fa-sync fa-spin"></i>');
                        $("#btn-save").prop('disabled', true);

                        if (self.IsAdd) {
                            $.ajax({
                                url: "@Url.Action("AddItem_Change", "lookup")",
                                type: "POST",
                                data: {
                                    item_Name: self.slt_name,
                                    item_isUse: self.slt_use,
                                },
                                success: function (result) {
                                    if (result.success) {
                                        swal({
                                            title: "Alert",
                                            text: result.Message,
                                            type: "success",
                                            timer: 1200,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        })

                                        self.slt_use = ''

                                        self.get_list();

                                        modal.hide();
                                    } else {
                                        swal({
                                            title: "Alert",
                                            text: result.Message,
                                            type: "warning",
                                            timer: 1500,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        })
                                    }

                                }
                            });

                        } else {
                            $.ajax({
                                url: "@Url.Action("EditItem_Change", "lookup")",
                                type: "POST",
                                data: {
                                    item_name: self.slt_name,
                                    item_id: self.id,
                                    item_isUse: self.slt_use
                                },
                                success: function (result) {
                                    if (result.success) {
                                        swal({
                                            title: "Alert",
                                            text: result.Message,
                                            type: "success",
                                            timer: 1200,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        })

                                        self.slt_use = ''

                                        self.get_list();

                                        modal.hide();
                                    } else {
                                        swal({
                                            title: "Alert",
                                            text: result.Message,
                                            type: "warning",
                                            timer: 1500,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        })
                                    }

                                }
                            });
                        }
                    }

                    $("#btn-save").html('Save');
                    $("#btn-save").prop('disabled', false);

                },
                deleteItem(id) {

                    const self = this;

                     let fn = function (isConfirm) {
                         if (isConfirm) {
                             $.ajax({
                                 url: "@Url.Action("DeleteItem_Change", "lookup")",
                                 type: "POST",
                                 data: { item_id: id  },
                                 success: function (result) {
                                     if (result.success) {
                                         swal({
                                             title: "Alert",
                                             text: result.Message,
                                             type: "success",
                                             timer: 1000,
                                             showCancelButton: false,
                                             showConfirmButton: false
                                         })
                                         self.get_list();
                                     } else {
                                         swal({
                                             title: "Alert",
                                             text: result.responseText,
                                             type: "warning",
                                             timer: 1000,
                                             showCancelButton: false,
                                             showConfirmButton: false
                                         })
                                     }
                                 }
                             });
                         } else {
                         }
                    }

                    alertBoxConfirm("Alert", "Do you want to delete the information?", "", fn)

                },
                 async getGroup() {

                  let self = this;

                    await $.ajax({
                        url: "@Url.Action("SelectItem_GROUP_WC_ByWC", "lookup")",
                        type: "POST",
                        data: {},
                        success: function (result) {
                            if (result.success) {

                                self.groupList = result.data

                                const arr = result.data;

                                self.slt_group = '@Session["GROUP_ID"].ToString()';

                                if (self.slt_group == "") {
                                    self.slt_group = result.data[0].GROUP_ID
                                }

                                const index = arr.map(object => object.GROUP_ID).indexOf(self.slt_group);

                                const arrSelect = arr[index];

                                if (arrSelect.MENU_1 == 'N') {
                                    $('#lk-menu-2').hide();
                                }
                                if (arrSelect.MENU_2 == 'N') {
                                    $('#lk-menu-3').hide();
                                }
                                if (arrSelect.MENU_3 == 'N') {
                                    $('#lk-menu-1').hide();
                                }
                                if (arrSelect.MENU_5 == 'N') {
                                    $('#lk-menu-4').hide();
                                }
                                if (arrSelect.MENU_3 == 'N' && arrSelect.MENU_4 == 'N' && arrSelect.MENU_5 == 'N') {
                                    $('#lk-menu-5').hide();
                                }
                                if (arrSelect.MENU_1 == 'N' && arrSelect.MENU_2 == 'N' && arrSelect.MENU_4 == 'N' && arrSelect.MENU_5 == 'N') {
                                    $('#lk-menu-6').hide();
                                }

                            }

                        }
                     });

                     await $('#slt_group').selectpicker('destroy');
                     await $('#slt_group').selectpicker('render');
                     await $("#slt_group").selectpicker("val", self.slt_group)
                },
                async selectGroup(gID) {

                    await $.ajax({
                        url: "@Url.Action("Select_GROUP", "lookup")",
                        type: "POST",
                        data: { item_group: gID},
                        success: function (result) {
                            if (result.success) {
                                window.open("@Url.Action("Change", "lookup")","_self")
                            }

                        }
                    });
                }

            },
            watch: {
            }
    }).mount('#MainApp')

    $('#nav-link-master').addClass('active');

    // ------------------- BackToTop ------------------- //

    //var mybutton = document.getElementById("toTop");

    //window.onscroll = function () {
    //    scrollFunction()
    //};

    //function scrollFunction() {

    //    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    //        mybutton.classList.add("active");

    //    } else {
    //        mybutton.classList.remove("active");
    //    }
    //}



</script>
