@{
    ViewBag.Title = "Detail";
}

@Styles.Render("~/Content/bootstrap-select.min.css")
@Styles.Render("~/Content/vue3-easy-data-table@1.5.47.css")

<style>

    :root {
        --font_size_section_titel: 1.2rem;
        --font_size_sectionl: 1.2rem;
        --font_size_head_table: 0.8rem;
        --font_size_body_table: 0.8rem;
        --font_size_icon: 1.5rem;
        --font_size_item_title: 1rem;
        --font_size_icon_item_detail: 1rem;
    }

    html {
        min-height: 100%;
    }



    body::-webkit-scrollbar-track {
        border: 1px solid black;
        background-color: #F5F5F5;
    }

    body::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #000000;
    }


    .backTotop {
        position: fixed;
        bottom: -50px;
        right: 15px;
        font-size: 40px;
        color: #fff;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        border-radius: 100%;
        cursor: pointer;
        transition: all 0.5s;
        background: #000000;
    }

        .backTotop.active {
            bottom: 20px;
            transition: all 0.5s;
        }

    .section-tatble {
        background: #fff;
        border-radius: 8px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        padding: 10px;
        margin-top: 20px;
    }


    .alertTable.alert_over {
        font-weight: bold;
        background: #ff6060;
    }

    .alertTable.alert_lower {
        font-weight: bold;
        background: #fff949;
    }


    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-content {
        max-width: 90%;
        max-height: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }

    .close {
        color: #fff;
        font-size: 40px;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }

    .modal-backdrop {
        z-index: 0 !important;
    }

    .dp__main {
        width: 100%;
    }

    .dropdown.bootstrap-select {
        width: 100% !important;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 7px;
    }

    button.btn.dropdown-toggle.btn-light {
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
    }


    .modal-header {
        color: #ffffff;
        background-color: #216583;
    }

    .customize-table {
        --easy-table-header-font-size: 14px;
        --easy-table-header-height: 50px;
        --easy-table-header-font-color: #ffffff;
        --easy-table-header-background-color: #2d3a4f;
        --easy-table-border: 1px solid #445269;
    }

    .filter-column {
        display: flex;
        align-items: center;
        justify-items: center;
        position: relative;
    }

    .filter-menu {
        padding: 15px 30px;
        z-index: 1;
        position: absolute;
        top: 30px;
        width: 200px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
    }


    .select-group {
        margin-bottom: 10px;
        position: relative;
    }

        .select-group .btn-reset-select {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            font-size: 20px;
            height: 100%;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .select-group .btn-reset-select i {
                background-color: #ffffff;
                border-radius: 100%;
            }


</style>

<div id="MainApp">

    <div class="tables-page-head">

        <div class="head-box">
            <div class="haed-title">Master : Detail</div>
            <div class="select-group">
                <select class="selectpicker" data-placeholder="Select Group" data-live-search="true" id="slt_group" name="slt_group" v-model="slt_group" v-on:change="selectGroup(slt_group)">
                    <option v-for="(item,index) in groupList" :value="item.GROUP_ID">{{item.GROUP_NAME}}</option>
                </select>
            </div>
        </div>

        @if (Session["STATUS"].ToString() == "M")
        {
            <div class="haed-fn">

                <a href="" onclick="return false;">
                    <i class="fas fa-plus-circle" v-on:click="Open_Modal('Add','')"></i>
                </a>
            </div>
        }
    </div>

    @*<i v-on:click="backTotop" id="toTop" class="fas fa-arrow-alt-circle-up backTotop"></i>*@

    <div class="section-tatble">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group" id="" style="margin-bottom: 10px;">
                    <input type="text" v-model="searchValue" class="form-control" placeholder="Search" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="select-group">
                    <div class="btn-reset-select" v-if="filter_type.length>0">
                        <i class="fas fa-times-circle" v-on:click="reset_filter('type'), get_list()"></i>
                    </div>
                    <select class="selectpicker" data-live-search="true" id="filter_type" name="filter_type" v-model="filter_type" data-placeholder="Filter Type" v-on:change="get_list()" multiple>
                        <option value="1">Man</option>
                        <option value="2">Machine</option>
                        <option value="3">Mold/DIE</option>
                        <option value="4">Method</option>
                        <option value="5">Part/Mat'l</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="select-group">
                    <div class="btn-reset-select" v-if="filter_category.length>0">
                        <i class="fas fa-times-circle" v-on:click="reset_filter('category'), get_list()"></i>
                    </div>
                    <select class="selectpicker" data-live-search="true" id="filter_category" name="filter_category" v-model="filter_category" data-placeholder="Filter Category" v-on:change="get_list()  " multiple>
                        <optgroup v-for="(items, index) in categoryList" :label="m_control[items.type]">
                            <option v-for="(item,index) in items.list" :value="item.id">{{item.name}}</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>


        <easy-data-table :headers="headers"
                         :items="items"
                         :sort-by="sortBy"
                         :sort-type="sortType"
                         :search-value="searchValue"
                         multi-sort
                         show-index
                         border-cell
                         table-class-name="customize-table"
                         header-text-direction="center"
                         body-text-direction="center"
                         class="text-center" />
        ตอน
        2.ลืมประกอบ Part
        3.ทำงาน Jump Proc
        <template #item-UPDATE_BY="{ UPDATE_BY, GNAME_ENG, FNAME_ENG }">
            {{GNAME_ENG}}  {{FNAME_ENG}}
        </template>

        <template #item-IS_USE="{ IS_USE }">
            {{IS_USE=='Y' ? 'Use' : 'Unuse'}}
        </template>

        <template #item-ITEM_RISK="{ ITEM_RISK }">
            <textarea class="form-control" v-model="ITEM_RISK" disabled :rows="ITEM_RISK.split('\n').length + 3" cols="100%" style="font-size: 12px;"></textarea>
        </template>

        <template #item-tool="{ ITEM_ID }">
            <a href="#" onclick="return false;" v-on:click="Open_Modal('Edit', ITEM_ID)"><i class="fas fa-edit" style="margin-right: 10px; color: rgb(44 76 235);"></i></a>
            <a href="#" onclick="return false;" v-on:click="deleteItem(ITEM_ID)"><i class="fas fa-trash-alt" style="color: rgb(225 55 55);"></i></a>
        </template>

    </div>

    <div class="modal fade modal-lg" id="Item-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="Item_modal_Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Item_modal_Label">{{IsAdd==true ? 'Add Item' : 'Edit item'}}</h5>
                </div>
                <div class="modal-body">

                    <section class="container">
                        <div class="row">

                            <label for="slt_category" class="col-4 col-form-label"><b>Category</b></label>
                            <div class="col-8">
                                <div class="select-group">
                                    <select class="selectpicker" data-live-search="true" id="slt_category" name="slt_category" v-model="slt_category" data-placeholder="Select Type">
                                        <optgroup v-for="(items, index) in categoryList" :label="m_control[items.type]">
                                            <option v-for="(item,index) in items.list" :value="item.id">{{item.name}}</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>

                            <label for="slt_detail" class="col-4 col-form-label"><b>Action</b></label>
                            <div class="col-8 col-form-label">
                                <div class="input-group" id="">
                                    <input type="text" id="slt_detail" v-model="slt_detail" class="form-control" />
                                </div>
                            </div>

                            <label for="slt_risk" class="col-4 col-form-label"><b>Risk</b></label>
                            <div class="col-8 col-form-label">
                                <div class="input-group" id="">
                                    @*<input type="text" id="slt_risk" v-model="slt_risk" class="form-control" />*@
                                    <textarea class="form-control" v-model="slt_risk" id="slt_risk"></textarea>
                                </div>
                            </div>

                            <label for="" class="col-4 col-form-label"><b>Status</b></label>
                            <div class="col-8 col-form-label">

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="IsUse" id="IsUse-Y" value="Y" v-model="slt_use">
                                    <label class="form-check-label" for="IsUse-Y">
                                        Use
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="IsUse" id="IsUse-N" value="N" v-model="slt_use">
                                    <label class="form-check-label" for="IsUse-N">
                                        Unuse
                                    </label>
                                </div>
                            </div>

                        </div>
                    </section>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn_save"
                            v-on:click="saveItem()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

@Scripts.Render("~/Scripts/bootstrap-select.min.js")
@Scripts.Render("~/Scripts/vue3-easy-data-table.umd.js")


<script>
    // ------------------------------ VUE JS ------------------------------ //
    const { createApp } = Vue

    let DTable = ''

        createApp({
            data() {
                return {
                    headers: [
                        { text: "Category", value: "ITEM_CATEGORY_NAME", sortable: true },
                        { text: "Detail", value: "ITEM_DETAIL", sortable: true },
                        { text: "Risk", value: "ITEM_RISK", sortable: true },
                        { text: "Update By", value: "UPDATE_BY", sortable: true },
                        { text: "Update Date", value: "UPDATE_DATE", sortable: true },
                        { text: "Status", value: "IS_USE", sortable: true },
                        { text: "Tools", value: "tool", sortable: false },
                    ],
                    items: [],
                    searchValue: '',
                    sortBy: ["ITEM_CATEGORY_NAME", "ITEM_DETAIL", "ITEM_RISK"],
                    sortType: ["asc", "asc", "asc"],

                    role: '@Session["ROLE"].ToString()',
                    status: '@Session["STATUS"].ToString()',

                    slt_id: '',
                    slt_detail: '',
                    slt_risk: '',
                    slt_use: '',
                    slt_group: '',
                    slt_category: '',

                    m_control: ['', 'Man', 'Machine', 'Mold/DIE', 'Method', 'Part/Mat\'l'],

                    filter_type: [],
                    categoryList: [],
                    groupList: [],
                    filter_category: [],

                    IsAdd: true,
                    dataTable: null,

                }
            },
            components: {
                EasyDataTable: window['vue3-easy-data-table'],
            },
            mounted() {

                let self = this

            },
            async created() {

                let self = this

                await self.getGroup()

                await self.get_list()

                await self.get_category()

                await $('#slt_category, #filter_type, #filter_category').selectpicker('destroy');
                await $('#slt_category, #filter_type, #filter_category').selectpicker('render');

            },
            methods: {
                backTotop() {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    })
                },
                async get_list() {

                    let self = this;

                    await $.ajax({
                        url: '@Url.Action("ListItem_Details", "lookup")',
                        type: "POST",
                        data: {
                            filter_type: self.filter_type.map(d => `'${d}'`).join() ,
                            filter_category: self.filter_category.map(d => `'${d}'`).join(),
                        },
                        success: function (result) {
                            if (result.success) {
                                self.items = result.data
                            } else {
                                self.items = []
                            }

                        }
                    });
                },
                async get_category() {

                    let self = this;

                    await $.ajax({
                        url: '@Url.Action("Option_Detail_Category", "lookup")',
                        type: "POST",
                        data: {
                            filter_type:""
                        },
                        success: function (result) {
                            if (result.success) {

                                const inputData = result.data

                                self.dataNameList = result.data

                                const transformedData = {};

                                inputData.forEach(item => {
                                    const id = item.ITEM_ID;
                                    const name = item.ITEM_NAME;
                                    const type = item.ITEM_TYPE;

                                    if (type in transformedData) {
                                        transformedData[type].list.push(
                                            {
                                                id: id,
                                                name: name,
                                            }
                                        );
                                    } else {
                                        transformedData[type] = {
                                            type: type,
                                            list: [
                                                {
                                                    id: id,
                                                    name: name,
                                                }
                                            ]
                                        };
                                    }
                                });

                                self.categoryList = Object.values(transformedData);
                     
                            } else {
                                self.categoryList = []
                            }

                        }
                    });
                },
                async Open_Modal(status, id) {

                    let self = this

                    let el = document.querySelector('#Item-modal');
                    let modal = bootstrap.Modal.getOrCreateInstance(el);

                    if (status == 'Add') {
                        self.IsAdd = true

                        self.slt_detail = ''
                        self.slt_risk = ''
                        self.slt_category = ''
                        self.slt_use = 'Y'

                        $("#slt_category").selectpicker("val", '')

                    } else {

                        self.IsAdd = false
                        self.id = id;
                        $.ajax({
                            url: "@Url.Action("SelectItem_Details", "lookup")",
                            type: "POST",
                            data: { item_id: id },
                            success: function (result) {
                                if (result.success) {

                                    self.slt_detail = result.data[0]["ITEM_DETAIL"]
                                    self.slt_risk = result.data[0]["ITEM_RISK"]
                                    self.slt_category = result.data[0]["ITEM_CATEGORY_ID"]
                                    self.slt_use = result.data[0]["IS_USE"]

                                    $("#slt_category").selectpicker("val", result.data[0]["ITEM_TYPE"])

                                } else {
                                }
                            }
                        });
                    }

                    modal.show()

                },
                async saveItem() {

                    const self = this

                    let el = document.querySelector('#Item-modal');
                    let modal = bootstrap.Modal.getOrCreateInstance(el);
         
                    if (self.slt_detail == '' || self.slt_risk == '' || self.slt_category == '') {
                        alertBoxTime('Alert', 'Please fill out the information completely', 'warning', 1100, '', '')
                    } else {

                        $("#btn-save").html('<i class="fas fa-sync fa-spin"></i>');
                        $("#btn-save").prop('disabled', true);

                        if (self.IsAdd) {
                            $.ajax({
                                url: "@Url.Action("AddItem_Details", "lookup")",
                                type: "POST",
                                data: {
                                    item_detail: self.slt_detail.replaceAll(',', '/'),
                                    item_risk: self.slt_risk.replaceAll(',', '/'),
                                    item_category: self.slt_category,
                                    item_isUse: self.slt_use,
                                },
                                success: function (result) {
                                    if (result.success) {
                                        swal({
                                            title: "Alert",
                                            text: result.Message,
                                            type: "success",
                                            timer: 1200,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        })

                                        self.get_list();

                                        modal.hide();
                                    } else {
                                        swal({
                                            title: "Alert",
                                            text: result.Message,
                                            type: "warning",
                                            timer: 1500,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        })
                                    }

                                }
                            });

                        } else {
                            $.ajax({
                                url: "@Url.Action("EditItem_Details", "lookup")",
                                type: "POST",
                                data: {
                                    item_detail: self.slt_detail.replaceAll(',', '/'),
                                    item_risk: self.slt_risk.replaceAll(',', '/'),
                                    item_category: self.slt_category,
                                    item_id: self.id,
                                    item_isUse: self.slt_use
                                },
                                success: function (result) {
                                    if (result.success) {
                                        swal({
                                            title: "Alert",
                                            text: result.Message,
                                            type: "success",
                                            timer: 1200,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        })

                                        self.get_list();

                                        modal.hide();
                                    } else {
                                        swal({
                                            title: "Alert",
                                            text: result.Message,
                                            type: "warning",
                                            timer: 1500,
                                            showCancelButton: false,
                                            showConfirmButton: false
                                        })
                                    }

                                }
                            });
                        }
                    }

                    $("#btn-save").html('Save');
                    $("#btn-save").prop('disabled', false);

                },
                deleteItem(id) {

                    const self = this;

                     let fn = function (isConfirm) {
                         if (isConfirm) {
                             $.ajax({
                                 url: "@Url.Action("DeleteItem_Details", "lookup")",
                                 type: "POST",
                                 data: { item_id: id  },
                                 success: function (result) {
                                     if (result.success) {
                                         swal({
                                             title: "Alert",
                                             text: result.Message,
                                             type: "success",
                                             timer: 1000,
                                             showCancelButton: false,
                                             showConfirmButton: false
                                         })
                                         self.get_list();
                                     } else {
                                         swal({
                                             title: "Alert",
                                             text: result.responseText,
                                             type: "warning",
                                             timer: 1000,
                                             showCancelButton: false,
                                             showConfirmButton: false
                                         })
                                     }
                                 }
                             });
                         } else {
                         }
                    }

                    alertBoxConfirm("Alert", "Do you want to delete the information?", "", fn)

                },
                 async getGroup() {

                  let self = this;

                    await $.ajax({
                        url: "@Url.Action("SelectItem_GROUP_WC_ByWC", "lookup")",
                        type: "POST",
                        data: {},
                        success: function (result) {
                            if (result.success) {

                                self.groupList = result.data

                                const arr = result.data;

                                self.slt_group = '@Session["GROUP_ID"].ToString()';

                                if (self.slt_group == "") {
                                    self.slt_group = result.data[0].GROUP_ID
                                }

                                const index = arr.map(object => object.GROUP_ID).indexOf(self.slt_group);

                                const arrSelect = arr[index];

                                if (arrSelect.MENU_1 == 'N') {
                                    $('#lk-menu-2').hide();
                                }
                                if (arrSelect.MENU_2 == 'N') {
                                    $('#lk-menu-3').hide();
                                }
                                if (arrSelect.MENU_3 == 'N') {
                                    $('#lk-menu-1').hide();
                                }
                                if (arrSelect.MENU_5 == 'N') {
                                    $('#lk-menu-4').hide();
                                }
                                if (arrSelect.MENU_3 == 'N' && arrSelect.MENU_4 == 'N' && arrSelect.MENU_5 == 'N') {
                                    $('#lk-menu-5').hide();
                                }
                                if (arrSelect.MENU_1 == 'N' && arrSelect.MENU_2 == 'N' && arrSelect.MENU_4 == 'N' && arrSelect.MENU_5 == 'N') {
                                    $('#lk-menu-6').hide();
                                }

                            }

                        }
                     });

                     await $('#slt_group').selectpicker('destroy');
                     await $('#slt_group').selectpicker('render');
                     await $("#slt_group").selectpicker("val", self.slt_group)

                },
                async selectGroup(gID) {

                    await $.ajax({
                        url: "@Url.Action("Select_GROUP", "lookup")",
                        type: "POST",
                        data: { item_group: gID},
                        success: function (result) {
                            if (result.success) {
                                window.open("@Url.Action("Detail_Category", "lookup")","_self")
                            }

                        }
                    });
                },
                reset_filter(type) {
                    const self = this

                    switch (type) {
                        case 'type':
                            self.filter_type = [];
                            $("#filter_type").selectpicker("val", '')
                            break;
                        case 'category':
                            self.filter_category = [];
                            $("#filter_category").selectpicker("val", '')
                            break;
                    }

                },
                hasSpecialChar(str) {
                    const self = this
                    const chars = str.split("");
                    for (const char of chars) {
                        if (self.isSpecialChar(char)) {
                            return true;
                        }
                    }
                    return false;
                },
                isSpecialChar(char) {
                    return [].includes(char);
                    //return [">", "<", "/", "?", ":", ";", "\"", "'", "&", "`", '@Html.Raw("@")'].includes(char);
                }

            },
            watch: {
            }
    }).mount('#MainApp')

    $('#nav-link-master').addClass('active');

    // ------------------- BackToTop ------------------- //

    //var mybutton = document.getElementById("toTop");

    //window.onscroll = function () {
    //    scrollFunction()
    //};

    //function scrollFunction() {

    //    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    //        mybutton.classList.add("active");

    //    } else {
    //        mybutton.classList.remove("active");
    //    }
    //}



</script>
